predict results of females in lowlands throwdown based on open and qf performances

In [1]:
import numpy as np
import pandas as pd

athlete_data = pd.read_csv('../merged-males.csv')
semi_roster = pd.read_csv('./maleGranite.csv')
output_csv = 'granite-males-predictions.csv'

In [2]:
semi_roster.head()

       id             name
0  676693   Colten Mertens
1  879211        Phil Toon
2  107101   Brent Fikowski
3    1690     Travis Mayer
4   20698  Timothy Paulson

In [3]:
merge_result = semi_roster.merge(athlete_data, how="inner", on=['id'], suffixes=('', '_delme'))

In [4]:
# Discard the columns that acquired a suffix
merge_result = merge_result[[c for c in merge_result.columns if not c.endswith('_delme')]]

In [5]:
merge_result['semi-ranking'] = ((merge_result['22.1Rank']*(0.39))+(merge_result['22.2Rank']*(0.31))+(merge_result['22.3Rank']*(0.76)))*0.1+(merge_result['QFOneRank']*(0.79))+(merge_result['QFTwoRank']*(0.76))+(merge_result['QFThreeRank']*(0.62))+(merge_result['QFFourRank']*(0.77))+(merge_result['QFFiveRank']*(0.84))

In [6]:
merge_result[['name', 'semi-ranking']].sort_values(by=['semi-ranking'])

                 name  semi-ranking
12     Chandler Smith       181.965
1           Phil Toon       347.311
7        Samuel Kwant       357.498
8      Zachery Buntin       595.137
4     Timothy Paulson       684.422
2      Brent Fikowski       722.226
15     Tyler Eggimann       760.652
6         Nick Mathew       820.657
0      Colten Mertens       836.099
20    Norman Woodring       928.531
11          John Wood      1007.921
13      Marquan Jones      1085.301
5       Anthony Davis      1095.387
19       Casey Crable      1186.310
3        Travis Mayer      1235.728
24        Joshua Hong      1298.470
22          Cj Gerald      1412.626
9       Leonel Franco      1420.417
16      Sam DeMeester      1558.680
14      Dylan Hamming      1585.473
21      Josh Woodhull      1592.677
29      Chase Merrill      1626.911
26  Carlos Albaladejo      1713.906
10        Matt Dlugos      1724.792
18     Jordan Hayward      1764.601
25         Eric Evans      1795.363
23     Marshall Creed      1840.060
17         Joe Pierro      1882.489
28      Kyle Baughman      2253.316
27      Stewart Jones      2317.201

In [7]:
merge_result.to_csv(output_csv, index=False)