predict results of females in lowlands throwdown based on open and qf performances

In [1]:
import numpy as np
import pandas as pd

athlete_data = pd.read_csv('./merged-males.csv')
semi_roster = pd.read_csv('./maleCape.csv')
output_csv = 'cape-males-predictions.csv'

In [2]:
semi_roster.head()

        id                   name
0  1652082           Youssef Ehab
1   490567        Joubert Boshoff
2   745393      Richard Wollboldt
3  1555257  Radouane El ghadouini
4   120333            Jason Smith

In [3]:
merge_result = semi_roster.merge(athlete_data, how="inner", on=['id'], suffixes=('', '_delme'))

In [4]:
# Discard the columns that acquired a suffix
merge_result = merge_result[[c for c in merge_result.columns if not c.endswith('_delme')]]

In [5]:
merge_result['semi-ranking'] = ((merge_result['22.1Rank']*(0.39))+(merge_result['22.2Rank']*(0.31))+(merge_result['22.3Rank']*(0.76)))*0.1+(merge_result['QFOneRank']*(0.79))+(merge_result['QFTwoRank']*(0.76))+(merge_result['QFThreeRank']*(0.62))+(merge_result['QFFourRank']*(0.77))+(merge_result['QFFiveRank']*(0.84))

In [6]:
merge_result[['name', 'semi-ranking']].sort_values(by=['semi-ranking'])

                          name  semi-ranking
21                Kealan Henry      1136.752
4                  Jason Smith      1208.351
11               Ruan Duvenage      1233.034
2            Richard Wollboldt      1895.445
19             Darren Zurnamer      1949.406
16              Ruan Potgieter      3230.028
15              Mohamed Elomda      3521.550
9          Hilmar von Mansberg      3712.807
17              Brandon Jacobs      4104.382
7                  Barend Smit      4306.621
14          Michael van Tonder      4367.957
12              Trent Williams      4512.788
5                   Dale Smith      4681.677
23             Conrad Winnertz      4935.596
13               Devin Ramsden      5049.111
8               Mohamed Sherif      5315.589
27                Robert Heuer      5507.620
6                Richard Smith      6025.465
20            James van Dongen      6540.111
26  Abdelrahman Abdullah Cavio      6750.689
22             Justin Holliday      6820.226
25                Belal Hesham      6836.789
3        Radouane El ghadouini      6841.442
18             Estian Ferreira      6843.019
10                 Assem Effat      7324.500
24             Brice Hamilcaro      7407.341
0                 Youssef Ehab      7476.200
1              Joubert Boshoff      7838.228

In [7]:
merge_result.to_csv(output_csv, index=False)