predict results of females in lowlands throwdown based on open and qf performances

In [1]:
import numpy as np
import pandas as pd

athlete_data = pd.read_csv('../merged-males.csv')
semi_roster = pd.read_csv('./maleAtlas.csv')
output_csv = 'atlas-males-predictions.csv'

In [2]:
semi_roster.head()

       id              name
0  978266     Parker Foster
1  684745       Logan Ewing
2  481081      Gunnar Regan
3   91379  Jordy Gremillion
4  348805      Will Bennett

In [3]:
merge_result = semi_roster.merge(athlete_data, how="inner", on=['id'], suffixes=('', '_delme'))

In [4]:
# Discard the columns that acquired a suffix
merge_result = merge_result[[c for c in merge_result.columns if not c.endswith('_delme')]]

In [5]:
merge_result['semi-ranking'] = ((merge_result['22.1Rank']*(0.39))+(merge_result['22.2Rank']*(0.31))+(merge_result['22.3Rank']*(0.76)))*0.1+(merge_result['QFOneRank']*(0.79))+(merge_result['QFTwoRank']*(0.76))+(merge_result['QFThreeRank']*(0.62))+(merge_result['QFFourRank']*(0.77))+(merge_result['QFFiveRank']*(0.84))

In [6]:
merge_result[['name', 'semi-ranking']].sort_values(by=['semi-ranking'])

                      name  semi-ranking
15           Jeffrey Adler       157.096
26         Patrick Vellner       317.615
11         Cédric Lapointe       511.951
12         Alexandre Caron       519.128
14            Dylan Pettit       722.827
27             Peter Mason       728.981
20             Jack Farlow       781.343
17          Alex Vigneault       921.077
9           Austin Spencer      1044.592
24        Benoît Boulanger      1234.948
10            Connor Duddy      1251.571
13           Nycolas Joyal      1255.612
21  Jean-Simon Roy-Lemaire      1348.066
7              Jack Rozema      1573.217
19           Collin Garnek      1577.137
18           Stephen Jones      1617.921
28       Damian Conciatori      1718.529
8                Tyler Lee      1719.930
16        Jeremy Vigneault      1746.026
22            Josh Workman      1875.268
25        Anthony Vorachak      1939.145
1              Logan Ewing      1959.509
4             Will Bennett      2021.972
23            Stephen Neer      2050.252
5              Drake Lewis      2104.386
3         Jordy Gremillion      2123.943
2             Gunnar Regan      2155.738
0            Parker Foster      2201.123
6           Skyler Ocetnik      2229.092

In [7]:
merge_result.to_csv(output_csv, index=False)