predict results of females in lowlands throwdown based on open and qf performances

In [1]:
import numpy as np
import pandas as pd

athlete_data = pd.read_csv('../merged-males.csv')
semi_roster = pd.read_csv('./maleCopa.csv')
output_csv = 'copa-males-predictions.csv'

In [2]:
semi_roster.head()

        id                 name
0   164978  Guilherme Domingues
1  1335018         Bruno Marins
2  1231733  Joao Pedro Barcelos
3  2232576        Williams Rios
4  1332272      Martin Gonzalez

In [3]:
merge_result = semi_roster.merge(athlete_data, how="inner", on=['id'], suffixes=('', '_delme'))

In [4]:
# Discard the columns that acquired a suffix
merge_result = merge_result[[c for c in merge_result.columns if not c.endswith('_delme')]]

In [5]:
merge_result['semi-ranking'] = ((merge_result['22.1Rank']*(0.39))+(merge_result['22.2Rank']*(0.31))+(merge_result['22.3Rank']*(0.76)))*0.1+(merge_result['QFOneRank']*(0.79))+(merge_result['QFTwoRank']*(0.76))+(merge_result['QFThreeRank']*(0.62))+(merge_result['QFFourRank']*(0.77))+(merge_result['QFFiveRank']*(0.84))

In [6]:
merge_result[['name', 'semi-ranking']].sort_values(by=['semi-ranking'])

                           name  semi-ranking
6           Guilherme Malheiros       139.234
24             Agustin Richelme       379.206
17              Nicolas Bidarte       518.438
20               Kaique Cerveny       631.124
8                 Anderon Primo       898.277
28                Omar Martinez      1124.520
4               Martin Gonzalez      1192.448
25               Gustavo Errico      1223.677
21               Santiago Comba      1386.194
11     Agustin Ezequiel Guiñazu      1398.080
16                Lucas Da Rosa      1415.480
9                Piero Gorichon      1446.443
1                  Bruno Marins      1609.649
0           Guilherme Domingues      1859.375
3                 Williams Rios      1918.933
19                 Kalyan Souza      1983.267
29         Maximiliano Arigossi      2058.875
12                    Igor Lino      2118.810
14                  Thainã Toma      2272.938
27           Juan Manuel Seitun      2277.111
2           Joao Pedro Barcelos      2281.072
5                    Lucas Arce      2342.864
26                Nicolás Canil      2440.250
10  Luiz Henrique Alves Moreira      2450.434
23               Esteban Ospina      2450.676
22                Vitor Caetano      2464.805
7                 Pablo Chalfun      2614.477
13               Fabio Dechichi      2628.677
18                Pedro Martins      2806.568
15              Bruno Grigoleto      2966.174

In [7]:
merge_result.to_csv(output_csv, index=False)