predict results of females in lowlands throwdown based on open and qf performances

In [1]:
import numpy as np
import pandas as pd

female_workout_data = pd.read_csv('./merged-females.csv')
female_lowlands_athletes_f = pd.read_csv('./femaleSyndicate.csv')

In [3]:
merge_result = female_lowlands_athletes_f.merge(female_workout_data, how="inner", on=['id'], suffixes=('', '_delme'))

In [4]:
# Discard the columns that acquired a suffix
merge_result = merge_result[[c for c in merge_result.columns if not c.endswith('_delme')]]

In [5]:
merge_result['semi-ranking'] = ((merge_result['22.1Rank']*(1-0.46))+(merge_result['22.2Rank']*(1-0.35))+(merge_result['22.3Rank']*(1-0.73)))*0.1+(merge_result['QFOneRank']*(1-0.77))+(merge_result['QFTwoRank']*(1-0.8))+(merge_result['QFThreeRank']*(1-0.65))+(merge_result['QFFourRank']*(1-0.82))+(merge_result['QFFiveRank']*(1-0.82))

In [6]:
merge_result[['name', 'semi-ranking']].sort_values(by=['semi-ranking'])

                      name  semi-ranking
9            Alexis Raptis        39.240
21  Kristi Eramo O'Connell        46.720
24          Arielle Loewen        70.648
6              Haley Adams        74.792
11           Paige Semenza        95.988
22           Kristine Best       237.740
4             Olivia Sulek       241.067
20             Emily White       296.719
7            Katie Calyore       333.611
17        Meredith Swindle       336.935
26  Christine Kolenbrander       363.147
19             Cody Veteto       383.325
3            Colette Casey       399.760
14           Faith Stewart       436.304
10       Madison McElhaney       485.302
13        Natalie Thompson       493.756
28        Hollye Henderson       510.511
16           Abigail Domit       550.268
12           Allison Ralfs       566.034
2             Paulina Haro       601.083
8           Annalise Moore       607.524
27             Roran Scott       649.674
0               Karis Demi       690.395
1               Madi Jones       707.509
5           Kelsey Schulte       719.987
18         Sequoia Barrera       743.647
25            Ellia Miller       758.627
15            Tayler Sykes       871.498
23        Gabby McClelland      1167.685

In [7]:
merge_result['semi-ranking']

0      690.395
1      707.509
2      601.083
3      399.760
4      241.067
5      719.987
6       74.792
7      333.611
8      607.524
9       39.240
10     485.302
11      95.988
12     566.034
13     493.756
14     436.304
15     871.498
16     550.268
17     336.935
18     743.647
19     383.325
20     296.719
21      46.720
22     237.740
23    1167.685
24      70.648
25     758.627
26     363.147
27     649.674
28     510.511
Name: semi-ranking, dtype: float64

In [8]:
merge_result.to_csv('syndicate-females.csv', index=False)